

body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  
  [role="main"] {
    padding-top: 40px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }




  /* ************  General **************** */
  .breadcrumb-item {
    color:dimgrey;
    font-weight: 300;
  }

  .breadcrumb {
    padding: .2rem 3rem .2rem .3em;
  }
  ol.breadcrumb {
    margin-bottom: .5rem;
  }
  .breadcrumb-item.active {
    color: cornflowerblue;
    font-weight: 500;
  }

 .container {
   padding-right: 0;
   padding-left: 0;
 }


  /* ********* Side Navigation CSS */

   .sidebar {
    position: fixed;
    top: 15px;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 40px 0 0 20px; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
   
  .sidebar-sticky {
    position: relative;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*********** Nav Bar *****************/


  @media (min-width: 768px) {
    .dropdown-menu .dropdown-toggle:after {
      border-top: 0.3em solid transparent;
      border-right: 0;
      border-bottom: 0.3em solid transparent;
      border-left: 0.3em solid;
    }

    .dropdown-item {
      margin-left: 0;
      margin-right: 0;
    }

    .dropdown-menu li {
      position: relative;
    }
    .nav-item .submenu {
      display: none;
      position: absolute;
      left: 100%;
      top: -7px;
    }
    .nav-item .submenu-left {
      right: 100%;
      left: auto;
    }

    .dropdown-menu > li:hover {
      background-color: #f1f1f1;
    }
    .dropdown-menu > li:hover > .submenu {
      display: block;
    }
  }

  /* *********Side Nav End  */

  
  .appEnvTabel > thead > tr,
  .appEnvTabel > tbody > tr {
    text-align: center !important
  }

  